<div class="modal-header">
  <h4 class="modal-title">
    <span>Küpür Ekleme / Güncelleme</span>
  </h4>
</div>
<div class="modal-body">
  <form [formGroup]="clippingForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="inputQuantity">Miktar</label>
      <input type="number" formControlName="quantity" class="form-control form-control-sm" id="inputQuantity"
        placeholder="Miktar" [ngClass]="{ 'is-invalid': submitted && controls.quantity.errors }">
      <div *ngIf="submitted && controls.quantity.errors" class="invalid-feedback">
        <div *ngIf="controls.quantity.errors.required">Miktar alanını doldurunuz</div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-outline-primary mx-2" (click)="onCancelClicked($event)">Vazgeç</button>
      <button type="submit" class="btn btn-info">Kaydet</button>
    </div>
  </form>
</div>
