.menu-item-container {
    -webkit-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.06);
    -moz-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.06);
    box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.06);
    opacity: 1;
    transition: 0.3s;
    margin: 5px;
    display: block;
}

.menu-item-container:hover {
    opacity: 0.8;
    cursor: pointer;
}

.menu-title-row {
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-top: 10px;
    margin-bottom: 20px;
}
