<div class="modal-body">
  <div class="row">
    <div class="col-12 mb-5">
      <!-- <ngx-image-zoom *ngIf="selectedImageUrl" [thumbImage]="selectedImageUrl" [fullImage]="selectedImageUrl"
        [magnification]="2" [enableScrollZoom]="true" [enableLens]="false" [lensWidth]="200"></ngx-image-zoom> -->

      <img class="main-picture" src="{{selectedImageUrl}}" alt="Money picture">

    </div>
    <div *ngIf="items" class="col-12">
      <div class="row">
        <span *ngFor="let url of items" class="col-2 picture-container mx-2" (click)="onClickImage(url)">
          <img class="picture" src="{{imagePath + url}}" alt="Money picture">
        </span>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="onCancelClicked($event)">Kapat</button>
  </div>
</div>