<div class="item p-3">
    <div class="picture-container p-3">
        <img class="picture" src="{{imagePath}}" alt="Movie picture">
    </div>
    <div class="body">
        <p class="title h5">{{item.name}}</p>
        <small class="text-muted">Kondisyon: {{item.condition}} / 10</small>
        <h2 *ngFor="let category of item.categories; let i = index" class="badge badge-secondary mr-2">
            {{category.name}}
        </h2>
    </div>
    <div class="footer">
        <p class="text h5">{{item.price | currency: "TRY"}}</p>
    </div>
</div>