<div class="item p-3">
    <div class="picture-container p-3">
        <img class="picture" src="{{imagePath}}" alt="Movie picture">
    </div>
    <div class="body">
        <div class="title">{{item.name}}</div>
        <ng-container *ngFor="let f of formats">
            <span *ngIf="f.value === item.format">
                <fa-icon [ngStyle]="{'color': f.color }" [icon]="['fas', 'compact-disc']" size="1x">
                </fa-icon>
                {{f.label}}
            </span>
        </ng-container>
        <small class="text-muted">Kondisyon: {{item.condition}} / 10</small>
        <div>
            <h2 *ngFor="let category of item.categories; let i = index" class="badge badge-secondary mr-2">
                {{category.name}}
            </h2>
        </div>
    </div>
    <div class="footer mt-2">
        <span class="text">{{item.price | currency: "TRY"}}</span>
    </div>
</div>