@import "../../../../styles/variables";

:host {
    .container {
        background-color: $secondary;
        border-radius: $border-radius;
        -webkit-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
        -moz-box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 0px 6px 4px rgba(0, 0, 0, 0.06);
        .title {
            font-weight: bold;
            font-size: 24px;
        }

        .length {
            font-size: 20px;
        }
        .sum-text {
            font-size: 18px;
            font-weight: bold;
        }
        .sum {
            font-weight: bold;
            font-size: 26px;
        }
        button {
            width: 100%;
        }
    }
}
