@import "../../../../styles/variables";

:host {
    .title {
        font-weight: bold;
    }
    .sum {
        font-weight: bold;
        font-size: 26px;
    }
    button {
        width: 100%;
    }
}
