<div>
    <h2 class="title">Sipariş Özeti</h2>
    <p class="pt-1 h5">{{products.length}} Ürün</p>
    <div class="d-flex flex-row row">
        <div class="col-2">
            <p class="pt-1 h6">Toplam</p>
        </div>
        <div class="col-10 d-flex justify-content-end sum">
            {{sum | currency: "TRY"}}
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-lg btn-danger mt-3" (click)="onClickBuy()">SATIN
            AL</button>
    </div>
</div>