@import "../../../../styles/variables";
@import "../../../../styles/mixins/gradient.mixin.scss";

.icon-container {
    background-color: $secondary;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    padding: 15px;
    fa-icon {
        color: white;
    }
}

.title-container {
    background-color: #fbfdfe;
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    .title {
        color: #2680a1;
        font-weight: bold;
    }
}
