<div class="row d-flex justify-content-center">
    <div class="col-xl-8 col-lg-12 col-md-12">
        <div class="my-3">
            <app-management-header [title]="title" [description]="description" [icon]="icon"></app-management-header>
        </div>
        <div class="d-flex justify-content-end my-3">
            <button type="button" class="btn btn-sm btn-primary" (click)="onClickAddNew()">Küpür Ekle</button>
        </div>
        <div *ngIf="paginationResponse != null" class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 90%" scope="col">Miktar</th>
                        <th style="width: 5%" scope="col">Düzenle</th>
                        <th style="width: 5%" scope="col">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let clipping of clippings | paginate: {
                        itemsPerPage: this.paginationResponse.limit,
                        currentPage: pageNumber,
                        totalItems: this.paginationResponse.count
                    }">
                        <td scope="row">{{clipping.quantity | currency: "TRY"}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-outline-primary"
                                (click)="onClickEdit(clipping)">Düzenle</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger"
                                (click)="onClickDelete(clipping)">Sil</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-pagination [paginationResponse]="paginationResponse" (pageNumberChanged)="pageNumberChanged($event)">
            </app-pagination>
        </div>
    </div>
</div>