@import "../../../styles/mixins/gradient.mixin.scss";
@import "../../../styles/variables";

.first-nav {
    background-color: $body-bg !important;
}

.management-nav {
    background-color: $body-bg !important;
}

.header-nav {
    background-color: #e0dede;
    .nav-link {
        color: $secondary;
    }

    .nav-link:hover {
        cursor: pointer;
        color: $light;
    }
}

@media only screen and (max-width: 767px) {
    .search-area {
        display: none;
    }
}
