<div class="row d-flex justify-content-center">
    <div class="col-xl-8 col-lg-12 col-md-12">
        <div class="my-3">
            <app-management-header [title]="title" [description]="description" [icon]="icon">
            </app-management-header>
        </div>
        <div class="d-flex justify-content-end my-3">
            <button type="button" class="btn btn-sm btn-primary" (click)="onClickAddNew()">Emisyon Ekle</button>
        </div>
        <div *ngIf="paginationResponse != null" class="table-container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 45%" scope="col">İsim</th>
                        <th style="width: 45%" scope="col">Küpürler</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emission of emissions | paginate: {
                        itemsPerPage: this.paginationResponse.limit,
                        currentPage: pageNumber,
                        totalItems: this.paginationResponse.count
                    }">
                        <th scope="row">
                            <span class="mx-2">
                                {{emission.name}}
                            </span>
                            <span class="badge badge-secondary m-2">
                                <fa-icon title="Düzenle" class="m-2" [icon]="['fas', 'edit']" size="1x"
                                    (click)="onClickEdit(emission)">
                                </fa-icon>
                            </span>
                            <span class="badge badge-danger m-2">
                                <fa-icon title="Sil" class="m-2" [icon]="['fas', 'trash']" size="1x"
                                    (click)="onClickDelete(emission)">
                                </fa-icon>
                            </span>
                        </th>
                        <td scope="row">
                            <h2 *ngFor="let clipping of emission.clippings; let i = index"
                                class="badge badge-secondary mx-2">
                                {{clipping.quantity | currency: "TRY"}}
                                <fa-icon title="Küpürü Sil" (click)="onClickDeleteClipping(clipping, emission)"
                                    class="mx-2" [icon]="['fas', 'times']" size="1x">
                                </fa-icon>
                            </h2>
                            <h2 class="badge badge-primary mx-2" (click)="onClickAddClipping(emission)">
                                <fa-icon title="Yeni Küpür Ekle" [icon]="['fas', 'plus']" size="1x">
                                </fa-icon>
                            </h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-pagination [paginationResponse]="paginationResponse" (pageNumberChanged)="pageNumberChanged($event)">
            </app-pagination>
        </div>
    </div>
</div>