<div *ngIf="item" class="row d-flex justify-content-center">
    <div class="col-xl-8 col-lg-12 col-md-12 my-5 mx-3 container">
        <div class="row">
            <div class="main-item col-xl-6 col-lg-12 col-md-12">
                <div class="row">
                    <div class="col-12 picture-container my-5" (click)="onClickImage()">
                        <img class="picture" src="{{imagePath}}" alt="Money picture">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12 detail my-5">
                <div class="col-12 detail-item-container py-3">
                    <div class="title">{{item.name}}</div>
                </div>
                <div class="col-12 detail-item-container py-3">
                    <span class="field">Ürün Numarası: </span>
                    <span class="value"> {{item.productNo}}</span>
                </div>
                <div class="col-12 detail-item-container py-3">
                    <span class="field">Seri Numarası: </span>
                    <span class="value"> {{item.serialNo}}</span>
                </div>
                <div class="col-12 detail-item-container py-3">
                    <span class="field">Kondisyon: </span>
                    <span class="value">{{item.condition}} / 10</span>
                </div>
                <div class="col-12 pt-5">
                    <div class="d-flex align-content-center flex-column">
                        <div class="price">{{item.price | currency: "TRY"}}</div>
                        <div class="mt-4">
                            <button type="button" class="btn btn-primary mx-2" (click)="onBuyNow($event)"
                                autofocus>Hemen
                                Al</button>
                            <button type="button" class="btn btn-outline-primary mx-2" (click)="onAddToCart($event)"
                                autofocus>Sepete
                                Ekle</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="col-xl-8 col-lg-12 col-md-12 my-5 mx-3">
        <app-money-showcase (itemClicked)="otherProductItemClicked($event)" [title]="otherProductsTitle"
            [request]="otherProductsRequest" [showAll]="showAll" [showPagination]="showPagination"
            [centerTitle]="centerTitle" [centerProducts]="centerProducts" [dontUseRouting]="dontUseRouting">
        </app-money-showcase>
    </div>
</div>