@import "../../../../styles/variables";

:host {
    .row {
        padding: 5px;
    }

    .icon-container {
        fa-icon {
            color: rgb(224, 224, 224);
        }
        display: flex;
        flex: 1;
        padding: 6px;
        justify-content: center;
    }

    .item {
        display: flex;
        flex: 19;
    }

    .title {
        color: $dark;
        font-size: $title;
        font-weight: bold;
    }

    .description {
        color: $dark;
        font-size: $description;
    }

    hr {
        color: 1px solid rgb(224, 224, 224);
        margin: 0px;
    }
}
