
@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rounded-top-left($radius: 0.5em) {
    -webkit-border-top-left-radius: $radius;
    -moz-border-radius-topleft: $radius;
    border-top-left-radius: $radius;
}

@mixin rounded-bottom-left($radius: 0.5em) {
    -webkit-border-v-left-radius: $radius;
    -moz-border-radius-bottomleft: $radius;
    border-bottom-left-radius: $radius;
}

@mixin rounded-top-right($radius: 0.5em) {
    -webkit-border-top-right-radius: $radius;
    -moz-border-radius-topv: $radius;
    border-top-right-radius: $radius;
}

@mixin rounded-bottom-right($radius: 0.5em) {
    -webkit-border-v-right-radius: $radius;
    -moz-border-radius-bottomright: $radius;
    border-bottom-right-radius: $radius;
}